* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Reem Kufi', sans-serif;
}


.p {
    font-size: 20px;
}


body.dark {
	background: #292C35;
    color: white;
}


.subrayado {
    text-decoration: underline;
    text-decoration-thickness: 0.125em;
    text-decoration-color: hotpink;
}


.contenedor {
    width: 100%;
    min-height: 10vh;
    padding-left: 8%;
    padding-right: 8%;
    background-color: rgb(59, 59, 180);
    overflow: hidden;
}


.navegacion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.hamburger {
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 0, 200);
    display: none;
    margin-bottom: 10 em;
    margin-right: 5 em;
    width: 10vw;
    padding: 4px;
    height: 5vh;
    border-radius: 10%;
}


.logo {
    color: white;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    justify-self: flex-start;
}


.logo-2 {
    color: black;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 1.2rem;
}


.logo-3 {
    color: black;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2rem;
}

nav {
    flex: 1;
    text-align: right;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin: 30px;
    font-weight: bold;
    font-size: 1.2rem;
}

nav ul li a {
    text-decoration: none;
    color: white;
}


.navegacion nav ul li a:hover {
    border-radius: 7.5%;
    background-color: hotpink;
    height: 200px;
}

.row {
    background-color: rgba(238, 255, 0, 0.175);
    border-radius: 10%;
    width: vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5 0 0 .5 rem;
    margin-top: 10px;
}

.card-1 {
    background-color: rgba(255, 0, 191, 0.175);
    border-radius: 5%;
    margin: 20px;
}

.card-2 {
    background-color: rgba(6, 176, 255, 0.175);
    border-radius: 5%;
    margin: 20px;
}

.card-3 {
    background-color: rgba(17, 0, 255, 0.175);
    border-radius: 5%;
    margin: 20px;
}

.col-1 {
    text-align: center;
    color: rgb(0, 0, 0);
    flex-basis: 40%;
    position: relative;
    padding-top: 10px;
    padding-left: 40px;
    margin-top: 30px;
    margin-left: 50px;
    border-radius: 6px;
}


.col-1 h2 {
    font-size: 54px;
}

.col-1 h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}

.boton {
    width: 250px;
    cursor: pointer;
    padding: 12px 12px;
    outline: none;
    border: 0;
    border-color: black;
    background: linear-gradient(to right, plum, pink);
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 15px -10px;
    border-radius: 6px;
}


.colorcito::before {
    margin-top: 10px;
    content: '';
    width: 75%;
    height: 10px;
    background: linear-gradient(to right, rgb(212, 144, 212), rgb(204, 192, 255));
    position: absolute;
    transform: translateX(165px) translateY(30px);
}



.col-1::before {
    content: '';
    width: 10px;
    height: 80%;
    background: linear-gradient(to right, plum, pink);
    position: absolute;
    transform: translateX(580px) translateY(30px);
    left: 10px;
}

.col-2 {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.col-2 .cafechica {
    width: 60%;
    transform: translateX(130px) translateY(-40px);
    border-radius: 20px;
}


.cajacolores-1 {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, plum, rgb(143, 143, 255));
    border-radius: 20px 10px 10px 20px;
    height: 80%;
    width: 60%;
    z-index: -1;
    transform: translateX(-70px) translateY(-100px); 
}


.cajacolores-2 {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgb(161, 160, 221), rgb(65, 65, 194));
    border-radius: 20px 10px 10px 20px;
    height: 60%;
    width: 50%;
    z-index: -1;
    transform: translateX(-280px) translateY(130px); 
}


.cajacolores-3 {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgb(226, 139, 226), rgb(180, 210, 255));
    border-radius: 10px 10px 10px 20px;
    height: 30%;
    width: 60%;
    z-index: -1;
    transform: translateX(-120px) translateY(200px); 
}


.cajacolores-4 {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, #4862b8, rgb(102, 124, 165));
    border-radius: 10px 10px 10px 20px;
    height: 20%;
    width: 90%;
    z-index: -1;
    transform: translateX(-5px) translateY(278px); 
}


.cajacolores-5 {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgb(162, 139, 226), rgb(58, 75, 173));
    border-radius: 10px 10px 10px 20px;
    height: 30%;
    width: 60%;
    z-index: -1;
    transform: translateX(-20px) translateY(260px); 
}

.espacio {
    margin-top: 2em;
    margin-bottom: 2em;
}


.separador {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}


.separador-2 {
    margin-top: 25px;
    margin-bottom: 30px;
    text-align: center;
}


.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.cafemujer {
    border-radius: 20px;
}

.cafehombre {
    border-radius: 20px;
}



.col-3 {
    text-align: center;
    padding-bottom: 20px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    flex-basis: 30%;
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 20px;
    border-radius: 6px;
}


.col-3 h2 {
    font-size: 30px;
}

.col-3 h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-3 p {
    font-family: 'Reem Kufi', sans-serif;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.col-3 h4 {
    margin: 30px 0;
    font-size: 20px;
}


.col-4 {
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    flex-basis: 30%;
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 20px;
    border-radius: 6px;
}


.col-4 h2 {
    font-size: 30px;
}

.col-4 h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-4 p {
    font-family: 'Reem Kufi', sans-serif;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.col-4 h4 {
    margin: 30px 0;
    font-size: 20px;
}

.col-5 {
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 30px;
    color: rgb(0, 0, 0);
    flex-basis: 30%;
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 20px;
    border-radius: 6px;
}


.col-5 h2 {
    font-size: 30px;
}

.col-5 h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-5 p {
    margin-top: 10px;
    font-family: 'Reem Kufi', sans-serif;
    padding-top: 20px;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.col-5 h4 {
    margin: 30px 0;
    font-size: 20px;
}


.row-3 {
    background-color: rgba(255, 238, 4, 0.175);
    margin-top: 5em;
    width: 97vw;
    margin-left: 0.75em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5%;
}

.col-6 {
    text-align: center;
    color: rgb(0, 0, 0);
    flex-basis: 30%;
    position: relative;
    padding-top: 2px;
    padding-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 6px;
}

.col-6 img {
    justify-items: flex-start;
    border-radius: 10%;
    padding: 10px;
}




.redes {
    background-color: rgb(243, 182, 255);
    text-align: center;
}


.links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5px;
}



/* Añadimos Media Queries para hacerlo responsive: */
/* Por defecto será PC */



/* Tablet 850px de ancho, 600px de alto */
@media only screen and (max-width: 850px) and (max-height: 600px) {
    
    .logo {
        padding-top: 2px;
    }

    .navegacion {
        padding-top: 7px;
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .cafechica {
        display: none;
    }


    .col-2 {
        display: none;
    }

    .col-1::before {
        display: none;
    }

    .colorcito::before {
        transform: translateX(110px) translateY(30px);
    }


    .navegacion nav ul li a:hover {
        border-radius: 7.5%;
        background-color: hotpink;
        height: 200px;
    }

    .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-left: 40px;
    }

    .col-1 p {
        font-size: 24px;
    }

    .row-2 {
        display: flex;
        flex-flow: column wrap;
    }


}


/* Celular 400px de ancho, 600px de alto */
@media  only screen and (max-width: 400px) and (max-height: 600px) {
    .cajacolores-1, .cajacolores-2, .cajacolores-3, .cajacolores-4, .cajacolores-5 {
        display: none;
    }

    .contenedor  {
        position: fixed;
        z-index: 99;
    }


    .navegacion {
        padding-top: 0px;
        display: flex;
        flex-flow: row nowrap;
        margin-top: 10px;
        position: absolute;
        z-index: 99;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }


    .hamburger .barra {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
    

    .row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        width: 90vw;
        margin-left: 17px;
    }


    .colorcito {
        position: relative;
        transform: translateX(-70px) translateY(0px);
    }

    .hamburger {
        display: flex;
        align-items: center;
        position: relative;
        transform: translateX(140px) translateY(2px);
        width: 12vw;
        padding: 7px;
        height: 5vh;
    }

    .nav_menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(255, 52, 211);
        width: 100%;
        text-align: center;
        align-items: center;
        transition: 0.3s;
        border-bottom-right-radius: 10%;
    }


    .nav_item {
        margin: 16px 0;
    }


    .nav_menu.active {
        left: 0;
    }


    .row {
        margin-top: 10px;
    }

    .col-1 {
        text-align: center;
        color: rgb(0, 0, 0);
        flex-basis: 40%;
        position: relative;
        padding-top: 10px;
        padding-left: 40px;
        margin-top: 10px;
        margin-left: 20px;
        border-radius: 6px;
    }


    .col-1::before {
        display: none;
    }

    .cafechica {
        display: none;
    }

    .card-1 {
        background-color: rgba(255, 0, 191, 0.175);
        border-radius: 5%;
        margin: 20px;
    }
    
    .card-2 {
        background-color: rgba(6, 176, 255, 0.175);
        border-radius: 5%;
        margin: 20px;
    }
    
    .card-3 {
        background-color: rgba(17, 0, 255, 0.175);
        border-radius: 5%;
        margin: 20px;
    }

    .row-2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .row-3 {
        margin-left: 3vw;
        max-width: 90vw;
        align-items: center;
        row-gap: 50px;
    }

    .col-6 {
        text-align: center;
    }
}