*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    text-decoration: none;
}

header {
    width: 100%;
    height: 500px;
    background: #bc4e9c;
    background: -webkit-linear-gradient(to right, rgb(171, 154, 245), hsla(317, 45%, 52%, 0.664)), url(./Fondo-Nav.jpg);
    background: linear-gradient(to right, rgb(171, 154, 245), hsla(317, 45%, 52%, 0.664)), url(./Fondo-Nav.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*Barra menu*/

.container_menu{
    width: 100%; /*para que ocupe todo el ancho*/
    height: 70px; /*altura da barra*/
    padding: 0px 20px; /*separacion de los bordes*/
    display: flex; /*para que se alineen los elementos*/
    justify-content: space-between; /*para que se separen los elementos*/
    align-items: center; /*para que se alineen los elementos*/
    
}

.menu{
    max-width: 1200px; /*para que no se salga de la pantalla*/
    margin: auto; /*para que se centre*/
    height: 100%; /*para que ocupe todo el alto*/
    text-align: left;
    padding: 30px 50px 0 0;
}

nav {
    text-align: left;
    height: 100%; /*para que ocupe todo el alto*/
    
}

nav > ul{ /* > significa que solo va a afectar a los ul que esten dentro de nav */
    display: flex; /* Para que se muestren en linea uno al lado del otro los li */
    height: 100%; /*para que ocupe todo el alto*/
}
nav ul li{
    list-style: none; /* Para quitar los puntos de los li */
    height: 100%;
    position: relative; /* Para que el submenu se posicione dentro del li */
}

/*nav > ul > li:first-child > a{ 
    background-image: url(../Fotos/hogar.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{ 
    background-image: url(../Fotos/hogar.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
    padding: 20px 40px;
}*/

nav > ul > li> a{
    width: 100%;
    display: flex; /* Para que se muestre en linea en el li */
    height: 100%;
    align-items: center; /* Para que el texto se alinee al final */
    line-height: 70px; /* Para que el texto se posicione en el centro del li */
    padding: 0px 20px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 300ms ease; /* Para que el color del texto se vaya cambiando de forma suave */
}

nav > ul > li > a:hover{
    background:  hotpink;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    background-color:  hotpink;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*submenu*/

nav ul li ul{
    width: 200px; /* Para que el submenu tenga el mismo ancho que el li */
    background: #fff;
    display: flex;
    flex-direction: column; /* Para que los li se muestren uno debajo del otro */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Para que el submenu tenga una sombra */
    top: 90px; /* Para que el submenu se posicione debajo del li */
    left: -5px; /* Para que el submenu se posicione al lado del li */
    padding: 14px 0px; /* Para que el submenu tenga un poco de espacio entre los li */
    visibility: hidden; /* Para que el submenu no se muestre */
    position: absolute; /* Para que el submenu se posicione dentro del li */
    opacity: 0; /* Para que el submenu no se muestre */
    z-index: 10; /* Para que el submenu se muestre por encima de todo */
    transition: all 300ms ease; /* Para que el submenu se muestre de forma suave */

}

nav ul li:hover ul { /* Para que el submenu se muestre cuando se pase el mouse por encima del li */
    visibility: visible; /* Para que el submenu se muestre */
    opacity: 1; /* Para que el submenu se muestre */
    top: 60px; /* Para que el submenu se posicione debajo del li */    
}

nav ul li ul:before {
    content:'';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: hotpink;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease; /* Para que el color del texto se vaya cambiando de forma suave */
}

nav ul li ul li a:hover{
    background: hotpink;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    font-size: 14px;
    
}

@media screen and (max-width: 768px){
    .header_superior{
        padding: 10px;
    }
    .logo{
        width: 200px;
    }
    .search{
        display: none;
    }
    .search input{
        width: 100%;
    }
    .menu{
        display: none;
    }

    nav ul {
        flex-direction: column;
        background-color: hotpink;
        position: fixed;
        top: 158px;
        left: 0px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100;
        *opacity: 0;
        visibility: hidden;
    }
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 80px;
    color:#fff;
    
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;

}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1{
    font-family:'Quicksand';
    color:#bc4e9c;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0;
    padding: 0;

}

h2{
    font-family:'Quicksand';
    color:#000000;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0;
    padding: 0;
    
}

.parrafo1{
    padding:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#fff;
    background-color: rgb(161, 240, 226);
    border-radius: 10px;
    justify-content: center;
    box-shadow: 30px 10px #f49cdb;
}


.products{
    margin:20px;
    padding:20px;
    display:grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-areas: "foto1 foto1 parrafo1"
    "foto2 foto2 parrafo2";
    gap:40px;
    justify-content:stretch;
}

.parrafo2{
    padding:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#fff;
    background-color: rgb(161, 240, 226);
    border-radius: 10px;
    justify-content: center;
    box-shadow: 30px 10px #f49cdb;
}

.foto1{
    border-radius: 10px;
    box-shadow: 30px 10px #f49cdb;
}

.foto2{
    border-radius: 10px;
    box-shadow: 30px 10px #f49cdb;
}

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex; /* Para que se muestren en linea */
    justify-content: space-evenly; /* Para que los elementos se separen */
    flex-wrap: wrap; /* Para que se muestren en columnas */
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative; /* Para que se pueda posicionar el texto */
    cursor: pointer; /* Para que se muestre la mano al pasar el cursor */
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5); /* Sombra */
}

.imagen-port > img{
    width: 100%; /* Para que se muestre a pantalla completa */
    height: 100%; /* Para que se muestre la imagen completa */
    object-fit: cover; /* Para que la imagen se ajuste al tamaño del contenedor */
    display: block; /* Para que se muestre en linea */
}

.hover-galeria{
    position: absolute; /* Para que se muestre encima de la imagen */
    width: 100%; /* Para que se muestre a pantalla completa */
    height: 100%;
    padding:2px;
    top: 0;
    transform: scale(0); /* Para que el texto no se muestre (animación)*/
    background: hsla(273,91%,27%, 0.7); /* Para que se muestre un fondo oscuro */
    transition: transform .5s; /* Para que el texto se muestre despacio (tiempo de animación)*/
    display: flex;
    justify-content: center;
    align-items: center; /* Para que el texto se muestre en el centro */
    flex-direction: column; /* Para que el texto se muestre en columna */
}

.hover-galeria img{
    width: 50px; /* Para que se muestre a pantalla completa */
}

.hover-galeria p{
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1); /* Para que el texto se muestre (animación)*/
}

footer{
    width: 100%;
    height: 25vh;
    margin-top: 20px;
    padding: 20px;
    background-image: url(https://img.freepik.com/premium-photo/top-view-cup-coffee-with-copy-space_23-2148336691.jpg);
    background-size:100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100% / 30% 30% 0 0;
}

.parrafo{
    font-family:'Quicksand';
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}
