*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand';
    text-decoration: none;
}

header {
    width: 100%;
    height: 500px;
    background: #bc4e9c;
    background: -webkit-linear-gradient(to right, rgb(171, 154, 245), hsla(317, 45%, 52%, 0.664)), url(./Fondo-Nav.jpg);
    background: linear-gradient(to right, rgb(171, 154, 245), hsla(317, 45%, 52%, 0.664)), url(./Fondo-Nav.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/*Barra menu*/

.container_menu{
    width: 100%; /*para que ocupe todo el ancho*/
    height: 70px; /*altura da barra*/
    padding: 0px 20px; /*separacion de los bordes*/
    display: flex; /*para que se alineen los elementos*/
    justify-content: space-between; /*para que se separen los elementos*/
    align-items: center; /*para que se alineen los elementos*/
    
}

.menu{
    max-width: 1200px; /*para que no se salga de la pantalla*/
    margin: auto; /*para que se centre*/
    height: 100%; /*para que ocupe todo el alto*/
    text-align: left;
    padding: 30px 50px 0 0;
}

nav {
    text-align: left;
    height: 100%; /*para que ocupe todo el alto*/
    
}

nav > ul{ /* > significa que solo va a afectar a los ul que esten dentro de nav */
    display: flex; /* Para que se muestren en linea uno al lado del otro los li */
    height: 100%; /*para que ocupe todo el alto*/
}
nav ul li{
    list-style: none; /* Para quitar los puntos de los li */
    height: 100%;
    position: relative; /* Para que el submenu se posicione dentro del li */
}

/*nav > ul > li:first-child > a{ 
    background-image: url(../Fotos/hogar.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a{ 
    background-image: url(../Fotos/hogar.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center center;
    padding: 20px 40px;
}*/

nav > ul > li> a{
    width: 100%;
    display: flex; /* Para que se muestre en linea en el li */
    height: 100%;
    align-items: center; /* Para que el texto se alinee al final */
    line-height: 70px; /* Para que el texto se posicione en el centro del li */
    padding: 0px 20px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    transition: all 300ms ease; /* Para que el color del texto se vaya cambiando de forma suave */
}

nav > ul > li > a:hover{
    background:  hotpink;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected{
    background-color:  hotpink;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*submenu*/

nav ul li ul{
    width: 200px; /* Para que el submenu tenga el mismo ancho que el li */
    background: #fff;
    display: flex;
    flex-direction: column; /* Para que los li se muestren uno debajo del otro */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Para que el submenu tenga una sombra */
    top: 90px; /* Para que el submenu se posicione debajo del li */
    left: -5px; /* Para que el submenu se posicione al lado del li */
    padding: 14px 0px; /* Para que el submenu tenga un poco de espacio entre los li */
    visibility: hidden; /* Para que el submenu no se muestre */
    position: absolute; /* Para que el submenu se posicione dentro del li */
    opacity: 0; /* Para que el submenu no se muestre */
    z-index: 10; /* Para que el submenu se muestre por encima de todo */
    transition: all 300ms ease; /* Para que el submenu se muestre de forma suave */

}

nav ul li:hover ul { /* Para que el submenu se muestre cuando se pase el mouse por encima del li */
    visibility: visible; /* Para que el submenu se muestre */
    opacity: 1; /* Para que el submenu se muestre */
    top: 60px; /* Para que el submenu se posicione debajo del li */    
}

nav ul li ul:before {
    content:'';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a{
    display: block;
    color: hotpink;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease; /* Para que el color del texto se vaya cambiando de forma suave */
}

nav ul li ul li a:hover{
    background: hotpink;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    padding-left: 30px;
    font-size: 14px;
    
}

@media screen and (max-width: 768px){
    .header_superior{
        padding: 10px;
    }
    .logo{
        width: 200px;
    }
    .search{
        display: none;
    }
    .search input{
        width: 100%;
    }
    .menu{
        display: none;
    }

    nav ul {
        flex-direction: column;
        background-color: hotpink;
        position: fixed;
        top: 158px;
        left: 0px;
        width: 100%;
        height: 300px;
        transition: all 300ms ease;
        z-index: 100;
        *opacity: 0;
        visibility: hidden;
    }
}



header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 80px;
    color:#fff;
    
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.contenedor .titulo{
    font-size: x-large;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.contenedor .titulo{
    color:#bc4e9c;

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5 rem;
}

.subrayado {
    text-decoration: underline;
    text-decoration-thickness: 0.125em;
    text-decoration-color: hotpink;
}

.map{ 
    margin-top: 70px;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.box-map{
    width: 20vw;
    height: 42vh;
    background: linear-gradient(to left, rgb(252, 163, 252), rgb(171, 154, 245));
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;   
}

.map1{
    font-family: 'Quicksand';
    font-style: oblique;
    font-stretch: semi-condensed;
}

.map > iframe {
    width: 100%;
    height: 100%;
    border: 0;
    flex-wrap: wrap;
}

.col-1 {
    text-align: center;
    color: rgb(0, 0, 0);
    flex-basis: 40%;
    position: relative;
    padding-top: 10px;
    padding-left: 40px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 6px;
}


.col-1 h2 {
    font-size: 54px;
}

.col-1 p {
    font-family: 'Quicksand';
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
}

.colorcito::before {
    content: '';
    width: 75%;
    height: 10px;
    background: linear-gradient(to right, rgb(212, 144, 212), rgb(204, 192, 255));
    position: absolute;
    transform: translateX(165px) translateY(30px);
}

.col-1::before {
    content: '';
    width: 10px;
    height: 80%;
    background: linear-gradient(to right, plum, pink);
    position: absolute;
    left: 10px;
}

.col-2 {
    position: relative;
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.col-2 .cafechica {
    width: 60%;
    transform: translateX(100px) translateY(-20px);
    border-radius: 20px;
}


.cajacolores-1 {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, plum, rgb(143, 143, 255));
    border-radius: 20px 10px 10px 20px;
    height: 80%;
    width: 60%;
    z-index: -1;
    transform: translateX(-120px) translateY(-100px); 
}


.cajacolores-2 {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(to right, rgb(161, 160, 221), rgb(65, 65, 194));
    border-radius: 20px 10px 10px 20px;
    height: 60%;
    width: 50%;
    z-index: -1;
    transform: translateX(-300px) translateY(130px); 
}


.separador {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}


.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


.cafemujer {
    border-radius: 20px;
    box-shadow:30px 10px #bc4e9c;
}


.col-3 {
    justify-content: flex-start;
    text-align: center;
    color: rgb(0, 0, 0);
    flex-basis: 30%;
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 20px;
    border-radius: 6px;
}


.col-3 h2 {
    font-size: 30px;
}

.col-3 h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-3 p {
    font-family: 'Satisfy', cursive;
    padding-top: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.col-3 h4 {
    margin: 30px 0;
    font-size: 20px;
}


.col-4 {
    justify-content: flex-start;
    text-align: center;
    color: rgb(0, 0, 0);
    flex-basis: 30%;
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 20px;

    border-radius: 6px;
}


.col-4 h2 {
    font-size: 30px;
}

.col-4 h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-4 p {
    font-family: 'Satisfy', cursive;
    padding-top: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.col-4 h4 {
    margin: 30px 0;
    font-size: 20px;
}

.col-5 {
    justify-content: flex-start;
    text-align: center;
    color: rgb(0, 0, 0);
    flex-basis: 30%;
    position: relative;
    padding-top: 10px;
    padding-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    border-radius: 6px;
}


.col-5 h2 {
    font-size: 30px;
}

.col-5 h3 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-5 p {
    margin-top: 10px;
    font-family: 'Satisfy', cursive;
    padding-top: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 100;
    text-align: center;
}

.col-5 h4 {
    margin: 30px 0;
    font-size: 20px;
}

footer{
    width: 100%;
    height: 25vh;
    margin-top: 20px;
    padding: 20px;
    background-image: url(https://img.freepik.com/premium-photo/top-view-cup-coffee-with-copy-space_23-2148336691.jpg);
    background-size:100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 100% / 30% 30% 0 0;
}

.parrafo{
    font-family:'Quicksand';
    color:#fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.links{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
}